/* CSS */
body {
  background: url(images/lake.jpg) center center no-repeat fixed;
  background-size: cover;
  font-size: 2.5em;
}
.box {
	opacity: 0.8;
	margin: 20%;
	background-color: white;
}
h1 {
	font: Raleway, serif;
	color:black;
	font-size: 22px;
	font-size: 2.2em;
}
p {
	font: Open Sans, sans-serif;
	font-size: 18px;
	font-size: 1.8em;
}
.box h1, .box p {
	
	font-weight:normal;
	padding: 2%;
}